

<div class="scaffold-container">
  
    <div class=' scaffold-index-widgets'>
  

  <div class="clearfix"></div>
  <%= render partial: 'widgets/list',
    locals: {widgets: @widgets } %>

  </div>
</div>
